[submodule "CandyPaper.vim"]
	path = CandyPaper.vim
	url = https://github.com/dfxyz/CandyPaper.vim
[submodule "CandyPaper.idea"]
	path = CandyPaper.idea
	url = https://github.com/dfxyz/CandyPaper.idea
[submodule "CandyPaper.mintty"]
	path = CandyPaper.mintty
	url = https://github.com/dfxyz/CandyPaper.mintty
[submodule "CandyPaper.vscode"]
	path = CandyPaper.vscode
	url = https://github.com/dfxyz/CandyPaper.vscode.git
